<a href="https://colab.research.google.com/github/vivianusdjpy/DS2-CORE-IP-WEEK-3/blob/master/WEEK_3_INDEPENDENT_PROJECT_SAMPLING_IMPLEMENTATION_STRATEGY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US BORDER CROSSING ANALYSIS

In [0]:
#IMPORTING THE LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from numpy.random import seed
from numpy.random import randn

# LOADING THE DATASET

In [0]:
df = pd.read_csv("/content/Border_Crossing_Entry_Data.csv")
df

            Port Name  ...                               Location
0       Calexico East  ...   POINT (-115.48433000000001 32.67524)
1           Van Buren  ...             POINT (-67.94271 47.16207)
2           Otay Mesa  ...            POINT (-117.05333 32.57333)
3             Nogales  ...  POINT (-110.93361 31.340279999999996)
4         Trout River  ...   POINT (-73.44253 44.990010000000005)
...               ...  ...                                    ...
346728         Norton  ...                   POINT (-71.79 45.01)
346729       Columbus  ...                  POINT (-107.63 31.78)
346730       Hansboro  ...                      POINT (-99.35 49)
346731  Calexico East  ...                  POINT (-115.39 32.67)
346732       Presidio  ...      POINT (-104.39000000000001 29.56)

[346733 rows x 8 columns]

In [0]:
df.describe()

           Port Code         Value
count  346733.000000  3.467330e+05
mean     2455.504910  2.818767e+04
std      1201.208459  1.518588e+05
min       101.000000  0.000000e+00
25%      2304.000000  0.000000e+00
50%      3013.000000  9.000000e+01
75%      3402.000000  2.483000e+03
max      4105.000000  4.447374e+06

# DATA CLEANING

In [0]:
df['State'].describe()
#15 unique states

count           346733
unique              15
top       North Dakota
freq             57071
Name: State, dtype: object

In [0]:
df['Port Name'].describe()
#

count       346733
unique         116
top       Eastport
freq          5541
Name: Port Name, dtype: object

In [0]:
df['Port Code'].unique()

array([2507,  108, 2506, 2604,  715,  109, 3401, 2309, 3403,  712, 3317,
       3404, 3430,  209, 3409, 3323, 3023,  105, 2504, 3309,  206,  115,
        704, 3019, 3415, 3013, 2505, 3302, 3407, 2310, 2603, 2410, 3301,
       3308,  211, 3803, 3413, 2307, 2302, 2606,  212, 3322,  106, 3025,
        107, 3420, 3419, 3004, 2601, 3802,  127, 2408, 2602, 3426, 3103,
       3417, 3020, 3424,  110, 3613,  901, 2503, 3425, 3406, 3414, 3016,
       3801,  104, 3410, 3306, 3422, 3015, 3009,  708, 2303, 3421, 3310,
       3316, 2404, 2402, 3007, 2608, 3012, 3011, 3423, 3321, 3416,  118,
       2502, 2305,  203, 3017,  103, 3604, 3405, 2406, 2301, 2403,  701,
       3010, 3319, 3325, 3318, 2304, 3408, 3102, 3104, 3106, 2582, 3014,
       3814,  101,  706, 4105, 3312, 3402,  112])

In [0]:
df['Border'].describe()
#There are two main ports of entry into the united states

count               346733
unique                   2
top       US-Canada Border
freq                266187
Name: Border, dtype: object

In [0]:
df['Measure'].describe()
#most of the entry into the US is by personal vehicles

count                346733
unique                   12
top       Personal Vehicles
freq                  30219
Name: Measure, dtype: object

In [0]:
df['Location'].describe()
#there are 224 unique locations

count                   346733
unique                     224
top       POINT (-83.04 42.32)
freq                      3069
Name: Location, dtype: object

In [0]:
#plotting a scatter plot to visualize location distribution for entry into the US
# Plot the data using the location
# c (color) is an argument which could be coded with a variable 
# cmap is the color map.
plt.scatter(df['Location'],cmap='rainbow')
plt.xlim(-180,180)
plt.ylim(-90,90)
plt.show()

TypeError: ignored

# New Section